<%-include("layout.ejs")%>

    <main>
        <h1>Login User</h1>
        <br>
        <form action="/login" method="post">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <br> <br>
            <input type="submit" value="Register">
        </form>
    </main>